{% extends 'base/base.html' %}

{% block title %}Session options{% endblock %}

{% block header_text %}Session options{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
        <table id="id_preview_table" class="table table-bordered" style="table-layout: fixed">
            <tr>
                <th style="width: 12%"></th>
                <th style="width: 7%">[0]</th>
                <th style="width: 8%">[1]</th>
                <th style="width: 8%">[2]</th>
                <th style="width: 8%">[3]</th>
                <th style="width: 8%">[4]</th>
                <th style="width: 8%">[5]</th>
                <th style="width: 8%">[6]</th>
                <th style="width: 8%">[7]</th>
                <th style="width: 8%">[8]</th>
                <th style="width: 8%">[9]</th>
            </tr>
            <tr id="table_level_1">
                <th>Level 1</th>
                <td>x</td>
                <td>x</td>
                <td>x</td>
                <td>x</td>
                <td>x</td>
                <td>x</td>
                <td>x</td>
                <td>x</td>
                <td>x</td>
                <td>x</td>
            </tr>
            <tr id="table_level_2">
                <th>Level 2</th>
                <td>x</td>
                <td>x</td>
                <td>x</td>
                <td>x</td>
                <td>x</td>
                <td>x</td>
                <td>x</td>
                <td>x</td>
                <td>x</td>
                <td>x</td>
            </tr>
            <tr id="table_level_3">
                <th>Level 3</th>
                <td>x</td>
                <td>x</td>
                <td>x</td>
                <td>x</td>
                <td>x</td>
                <td>x</td>
                <td>x</td>
                <td>x</td>
                <td>x</td>
                <td>x</td>
            </tr>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-3">
        <form id="id_options_form" method="post">

            {% for field in input_fields %}
            <div class="form-group">
                <label for="{{ field.auto_id }}"> {{  field.label }} </label>
                <div class="input-group input-group-lg">

                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary decr" data-target="#{{ field.auto_id }}"> - </button>
                    </span>

                    {{ field }}

                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary incr" data-target="#{{ field.auto_id }}"> + </button>
                    </span>

                </div>
            </div>
            {% endfor %}


            <h4>Columns</h4>

            {% for field in column_fields %}
                <div class="checkbox">
                    <label for="{{ field.auto_id }}">
                        {{ field }} {{ field.label }}
                    </label>
                </div>
            {% endfor %}

            <h4>Rows</h4>

            {% for field in row_fields %}
                <div class="checkbox">
                    <label for="{{ field.auto_id }}">
                        {{ field }} {{ field.label }}
                    </label>
                </div>
            {% endfor %}

            <input type="submit" id="id_submit_button" class="btn btn-default">

            {% csrf_token %}
        </form>
    </div>



</div>

{% endblock %}

{% block scripts %}
<script src="/static/js/jquery-3.1.0.min.js"></script>
<script src="/static/js/options.js"></script>
{% endblock %}


