{% extends 'base/base.html' %}

{% block title %} Simulation session {% endblock %}

{% block header_text %} Simulation session {% endblock %}

{% block content %}
<div class="row top-buffer">
    <div class="col-md-2">
    </div>

    <div class="col-md-3">
        <button id="start_stop" type="button" class="btn btn-primary"> {{ start_stop }} </button>
    </div>

</div>

<div class="row top-buffer">
    <div class="col-md-2">
    </div>

    <div class="col-md-8">
        <div id="id_graph_box">
            <div class="progress">
                <div class="progress-bar" id="id_progress_bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                style="width: 0%;">
                    <span class="sr-only">Loading</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row top-buffer">
    <div class="col-md-2">
    </div>

    <div class="col-md-2">
        <p id="current_iteration"> Current iteration: 0 </p>
    </div>

    <div class="col-md-2">
        <button id="previous_iteration" type="button" class="btn btn-default pull-right"> < </button>
    </div>

    <div class="col-md-6">
        <button id="next_iteration" type="button" class="btn btn-default"> > </button>
    </div>
</div>

<div class="row top-buffer">
    <div class="col-md-2">
    </div>

    <div class="col-md-8">
        <table id="id_round_info" class="table table-bordered">
            <tr>
                {% for column in columns %}
                    <th> {{ column }} </th>
                {% endfor %}
            </tr>
        </table>
    </div>
</div>

{% endblock %}

{% block scripts %}
        <script src="/static/js/zingchart/zingchart.min.js"></script>
        <script src="/static/js/simulate.js"></script>
{% endblock %}